
.form {
    width: 100vw;
    height: 100vh;
    overflow:-moz-hidden-unscrollable;
    color:#84D0D4;
    margin: 0;
    background-image:  url(C:\Users\Fredy\Desktop\rick_and_morty\Client\assets\img\rick-y-morty-portal-dimensional_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 100px;
    display: flex;
    justify-content: left;
    padding-top: 200px;
} 

.f{
    background-color:#373738;
    padding: 25px;
    align-items: center;
    border-radius: 5%;
    transition: 0.2s;
    contain:layout;
}
.f:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #B5EDFC;
    transition-delay: 0.5s;
    background: #414142;
}

.label{
    font-family: fantasy;
    font-size:large;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
}
.input{ 
    border-color: #494a4b;
    border-style: outset;
    background-color: #B5EDFC;
    box-sizing: border-box;   
    padding: 2px;

}



.submitButton {
    width: 150px;
    margin: 30px;
    padding: 0%;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #237cd6;
    
}

.span {
    background-color: #B5EDFC;
    display: block;
    padding: o.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #494a4b;
}

 .submitButton:hover {
    cursor: pointer;
 }

 .submitButton:active {
    transform: translateY(5px);
    padding-bottom: 0;
    outline: 0;
 }

 .par{
    display: flexbox;
    justify-content: center;
    align-items: center;
    
    padding-left: 15px;
    padding-right: 15px;
 }